<h1>Stupid coach</h2>
<p>Ask your coach anything</p>
<form action="/answer">
    <input type="text" name="question" value="<%= params[:question] %>" id="inputform">
    <input type="submit" value="Ask!" id="submitbtn">
</form>